env:
  SCATTER_GATHER_THRESHOLD: "5"

monitors:
  amount: 3

clients:
  count: 2

pipelines:
  query1:
    - name: cleaner
      amount: 2
    - name: filter
      amount: 3
  query2:
    - name: cleaner
      amount: 2
    - name: router
      amount: 2
    - name: aggregator
      amount: 3
    - name: join
      amount: 1
      volumes:
        - ./configs/query2/join_account_queue.yaml:/app/config_2.yaml
      env:
        ACCOUNTS_CONFIG_PATH: /app/config_2.yaml
  query345:
    - name: filter
      amount: 3
  query3a:
    - name: cleaner
      amount: 3
    - name: filter
      amount: 3
  query3b:
    - name: cleaner
      amount: 3
    - name: router
      amount: 3
    - name: aggregator
      amount: 3
    - name: filter
      amount: 3
  query4:
    - name: cleaner
      amount: 1
    - name: router
      amount: 1
    - name: aggregator
      amount: 3
    - name: accumulator
      amount: 3
    - name: filter
      amount: 1
    - name: join
      amount: 1
  query5:
    - name: cleaner
      amount: 1
    - name: format_filter
      amount: 3
    - name: router
      amount: 3
    - name: converter
      amount: 3
    - name: amount_filter
      amount: 1
    - name: aggregator
      amount: 1
